button.accordion-button.collapsed {

    padding: 16px 20px 16px 30px !important;
    text-decoration: none !important;
    border-top-right-radius: 20px !important;
    border-top-left-radius: 20px !important;
    background-color: #f7f7f7 !important;
    border: 2px solid #ffffff !important;

}
button.accordion-button{
    border-top-right-radius: 20px !important;
    border-top-left-radius: 20px !important;
}
button.accordion-button.collapsed:focus{
    outline: none !important;
}


.accordion-button{
    padding: 16px 20px 16px 30px !important;
    text-decoration: none !important;
    background-color: #f7f7f7 !important;
    border: 2px solid #ffffff !important;

}
.accordion-body{
    padding: 16px 20px 16px 30px !important;
    background-color: #f7f7f7 !important;
    border-bottom-right-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
}
.accordion-header{
    background-color: #f4f4f4 !important;
}

.accordion-item {
    border: none !important;
    margin-bottom: 30px;
}
.accordion-collapse.collapse.show{
    background-color: #f4f4f4 !important;
}
