.my-navbar{
    padding: 15px 39px 12px;
}
.btn-header{
    display: inline-block;
    background: #045c9c;
    text-decoration: none;
    border: none;
    padding: 16px 28px;
    font-size: 15px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
    position: relative;
    z-index: 1;
    border-radius: 30px;
    transition:all 0.5s;
}
a.nav-link {
  font-size: 16px;
  text-decoration: none;
  font-weight: 400;
  color: #232323;
  margin: 23px 21px     ;
}