.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
   
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .project-thumb img{
         display: block !important; 
         width: 100% !important; 
         height: 100% !important; 
        object-fit: cover !important;
  }
  
  
.project-single-box {
    margin-bottom: 30px;
}
.project-content {
    background: #171a2b;
    padding: 33px 0 41px;
    text-align: center;
    border-radius: 0 0 20px 20px;
}
h3.project-title {

    font-size: 22px;
    color: #fefefe;
    font-weight: 600;
    font-family: "Poppins";
    margin: 0;
    text-decoration: none;
    transition: 0.5s;
    margin-bottom: 23px;
}
p.project-text {
    display: inline-block;
    border-radius: 20px;
    background-color: #050a1e;
    font-size: 15px;
    text-transform: uppercase;
    color: #fefefe;
    font-weight: 400;
    padding: 7px 35px 7px;
    position: relative;
    z-index: 1;
    margin: 0;
    cursor: pointer;
}
p.project-text::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: #ff3d00;
    left: 0;
    top: 0;
    z-index: -12;
    border-radius: 20px;
    transform: scale(0);
    transition: 0.5s;
}
p.project-text:hover::before {
    transform: scale(1);
}
span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: rgb(255, 255, 255);
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 26px !important;
    border-radius: 50% !important;
    position: relative;
    z-index: 1;
    
}
span.swiper-pagination-bullet.swiper-pagination-bullet-active::before{
    position: absolute;
    content: '';
    height: 20px;
    width: 20px;
    border: 1px dashed #fff;
    border-radius: 50%;
    right: -50% !important;
    top: -50%;
}
span.swiper-pagination-bullet{
    background: rgb(255, 61, 0);
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 26px !important;
    border-radius: 50% !important;
    position: relative;
    z-index: 1;
    opacity: 1;
    margin-top: 50px !important;

}
span.swiper-pagination-bullet::before{
    position: absolute;
    content: '';
    height: 20px;
    width: 20px;
    border: 1px dashed #fff;
    border-radius: 50%;
    right: -50% !important;
    top: -50%;
    opacity: 1;
    

}
.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: -1px;
}