.swiper-slide img {
     display: inline; 

    
}
.review-single-box{
    text-align: center;
    margin-bottom: 20px;
    background: rgb(23, 26, 43);
    border-radius: 20px;
    padding: 39px 27px 32px;
}
p.review-text{
    color: rgb(255, 255, 255);
    opacity: 0.702;
    position: relative;
    z-index: 1;
    padding: 35px 0px 29px;
    margin: 0px;
}
p.review-text::before{
    position: absolute;
    content: "";
    height: 1px;
    width: 100%;
    bottom: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(41, 44, 59);
    border-image: initial;
}
.review-rating{
    padding: 28px 0 13px;

}
h3.review-title {
    font-size: 20px;
    line-height: 28px;
    color: #ffffff;
    font-weight: 600;
    margin: 0;
}
h3.review-title span {
    display: inline-block;
    font-size: 15px;
    line-height: 28px;
    color: #ff3c00;
    font-weight: 400;
    margin-left: 14px;
}
.review-author{
    text-align: center;
    position: relative;
    z-index: 1;
}
.review-author::after{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: url('../assets/baimg.png');
    background-repeat: no-repeat;
    background-position: center;
    right: -34%;
}
.review-author::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: url('../assets/baimg.png');
    background-repeat: no-repeat;
    background-position: center;
    right: 35%;
}